<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>posts</title>
</head>
<body>
<div class="layout">
    <form action="/posts/save" method="post">

        <label for="title">title</label>
        <input id="title" name="title" type="text"><br>

        <label for="author">author</label>
        <input id="author" name="author" type="text"><br><br>

        <textarea id="content" name="content"></textarea><br>
        <button type="submit">작성</button>

    </form>
</div>

</body>
</html>